/*.div1 {
  font-family: "Old Standard TT", serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  height: 100vh;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  

}
.container{
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;

  
}
.myValues{
  margin-top: 10%;
  transition: 0.4s;
  padding: 20px;
  height: 45%;
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin: 5%;
}
.MyTrackers{
  margin-top: 10%;
  transition: 0.4s;
  padding: 20px;
  height: 45%;
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  border: 2px solid black;
  margin: 5%;
}

.div2 {
  
  margin-top: 10%;
  transition: 0.4s;
  padding: 20px;
  height: 45%;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.timeH {
  margin: 40px;
  font-size: 10vh;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.div4 {
  display: flex;
  align-items: center;
}

.startButton {
  background-color: white;
  transition: 0.5s;
  color: #b83b3b;
  font-size: 5vh;
}

.startButton:hover {
  background-color: rgb(255, 218, 218);
  color: #b83b3b;
}

h3 {
  font-size: 2vh;
}
.resetButton{
  background-color: white;
  color: #b83b3b;
  padding: 5px;
  
}
.myPomos{
  font-size: 20px;
}

.navbar{
  background-color: white;
  color: #26478a;
  border-bottom: 2px solid #26478a;
  display: flex;
  justify-items: center;

}
.loginButton{
  background-color: rgb(57, 136, 255);
  color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 20px;
}
.TaskDiv{
  background-color: rebeccapurple;
}*/

.div1 {
  width: 100%;
  height: 100vh;
  background-image: url('/public/images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
}


.button5 {
  padding: 5px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  transition: 0.4s;
}

.button5:hover {
  color: white;
  background-color: black;

}

.p_wick {
  margin: 0;
  font-size: 20px;
  text-wrap: nowrap;
  font-weight: bold;
  text-align: center;
}

.iconWick {
  height: 4vh;
}

.custom_div {
  height: 50vh;
  width: 25%;
  margin: 20px;
  border: 5px solid #15c4a8;
  color: white;
  padding: 20px;
  display: flex;
  border-radius: 100%;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

.general {
  width: 30%;
  margin-top: 0;
  height: 65vh;
}

.navbar {
  font-family: "Pacifico", cursive;
}

.startbutton {
  width: 40%;
  height: 30%;
  background-color: #15c4a8;
  font-weight: bold;
  font-family: "Parkinsans", sans-serif;
  color: black;
  border: 3px solid black;
  font-size: 2rem;
  border-radius: 40px;
  transition: 0.4s;
}

.startbutton:hover {
  background-color: black;
  color: #15c4a8;
}

.resetbutton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 3rem;
}

.resetbutton:hover {
  color: #e0e0e0;
}

.icon_add:hover {
  color: #15c4a8;

}

.task-item:hover {
  background-color: rgb(209, 209, 209);

}

.task-item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  color: black;
  background: white;
  border-radius: 20px;
  align-items: center; 
}

.track_tick {
  font-size: 30px;
  float: left;
  color: gray;
}

.track_tick:hover {
  color: rgb(14, 182, 14);
}
.delete_icon {
  cursor: pointer; /* Silme ikonuna tıklanabilirlik ekler */
  font-size: 30px;
  float: left;
  color: gray;
}
.delete_icon:hover{
  color: red;
}